/** Add css rules here for your application. */
/** Example rules used by the template application (remove for your app) */
h1 {
	color: black;
	margin: 40px 0px 20px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

h2 {
	color: Black;
	margin: auto;
	font-variant: normal;
	font-size: 1em;
	font-style: normal;
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
}

h3 {
	font-size: 1em;
	color: grey;
	margin: 20px 0px 10px;
	text-align: left;
}

footnote {
	font-size: 1;
	color: black;
	text-align: center;
	margin: 200px 0px 10px;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

.gwt-Root {
	border: thin;
	font-variant: normal;
	font-size: 2em;
	font-style: normal;
	font-weight: normal;
}
.gwt-Header {
	font-stretch: wider;
	font-variant: normal;
	font-size: 24px;
	font-style: normal;
	font-weight: bolder;
	text-decoration: underline;
}
.gwt-Button {
	margin-top: auto;
	padding-top: 2px;
}
.gwt-StackPanel {
}
.gwt-Label {
	color: black;
	font-stretch: normal;
	font-style: normal;
	font-weight: bold;
	letter-spacing: normal;
	word-spacing: normal;
}
.gwt-Heading2 {
	padding: 1px;
	font-stretch: extra-expanded;
	font-variant: normal;
	font-style: normal;
	font-weight: bolder;
	vertical-align: text-top;
	line-height: inherit;
	letter-spacing: 4px;
	text-align: center;
	word-spacing: 3px;
}
.gwt-LabelSmall {
	font-variant: normal;
}
Label Box {
	border: inset black;
}